# Python
__pycache__/
*.pyc

# Virtual environments
venv/
env/
.venv/
AgentAI/agentai/
Lib/
Include/
Scripts/
share/

# Nested repos (copied by mistake)


# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
c